body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* -------------header------------------ */
#headerWrap {
  height: 159px;
}

#headerLogoWrap {
  height: 97px;
  width: 100%;
  border: 0;
}

#headerMenuWrap {
  height: 62px;
  width: 100%;
  border: 0;
  border-top: 1px solid rgb(224, 224, 224);
  border-bottom: 2px solid #333;
}

#headerLogoInnerWrap {
  height: 100%;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
}

#headerLogoLeft {
  display: inline-block;
  height: 100%;
  width: 30%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#headerLogoMiddle {
  display: inline-block;
  height: 100%;
  width: 40%;
  vertical-align: top;
  text-align: center;
}

#headerLogoRight {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 30%;
}

#headerLogoImageBox {
  height: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#siteLogoImage {
  height: 100%;
  width: 30%;
}

#headerMenuInnerWrap {
  width: 1280px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
}

#headerMenuInnerWrap span {
  font-size: 16px;
  font-weight: bold;
}

#sideBarButtonBox {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 60px;
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  vertical-align: top;
}
#sideBarButtonBox img {
  margin-top: 11px;
}

.headerMenuSet {
  display: inline-block;
  text-align: center;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#headerMenu7 {
  margin-left: 120px;
}

#upperContentWrap1 {
  margin-top: 3px;
}

#mainBannerWrap {
  height: 513px;
  background-image: url(../img/e4c75e05e42e5.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ------------------------------------------------------- */
.pageNavi {
  text-align: center;
  margin-top: 40px;
}
#communityImage {
  background-image: url(../img/community.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.hr1 {
  border: 0;
  height: 2px;
  background: #333;
  width: 97%;
}
.content {
  margin-top: 70px;
}
.board-head {
  margin-left: 20px;
}
.board-body ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}
.board-body ul li {
  flex: 1;
  padding: 3px;
  text-align: center;
  border-bottom: 1px;
}
.board-body ul li:nth-child(2) {
  flex-basis: 40%;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 97%;
}
a {
  text-decoration: none;
  color: inherit;
}
/* footer */
footer {
  bottom: 0px;
  margin: 70px 0 0 0;
  width: 100%;
  height: 200px;
  background-image: url(../img/footerLogo.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: 150px center;
  background-color: #333;
}

footer #copy {
  font-family: Arial, Helvetica, sans-serif;
  width: 800px;
  margin: 50px 0 0 300px;
  float: left;
}
footer #social {
  width: 200px;
  margin: 50px 50px 0 0;
  float: right;
}
footer #social img {
  margin: 0 7px;
}
#ffont1 {
  font-size: 13px;
  color: #9e9e9e;
}
#ffont2 {
  font-size: 11px;
  color: #9e9e9e;
}

.clear {
  clear: both;
}
